[Unit]
Description=MLFlow model in production
After=network.target

[Service]
Restart=on-failure
RestartSec=30
StandarOutput=file:/home/aiops-user/artifacts_root/stdout.log

